
Please enter your new password

<form action="/users/reset_password" method="post">
  Password: <input name="new_password" type="password">
  Password_confirmation: <input name="new_password_confiormation" type="password">
  <input type="hidden" name="token" value="<%= @token %>">
  <input type="submit" value="Update">
</form>